---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* Sidebar avatar wider */
.sidebar .author__avatar img {
  width: 100px !important;   /* wider */
  height: 100px !important;   /* keep aspect ratio */
  border-radius: 15px !important; /* rectangular with rounded corners */
  object-fit: cover;
}

/* Slightly wider central text column */
#main {
  @media (min-width: 1280px) {
    max-width: 1440px;
  }
}

.archive,
.page {
  @media (min-width: 1024px) {
    padding-right: 4em;
  }

  @media (min-width: 1280px) {
    padding-right: 5em;
  }
}

